[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KKEditQT
Comment=A QT6 text editor.
Terminal=false
Type=Application
Categories=Utility;
MimeType=text/plain
Icon=KKEditQT
Exec=kkeditqt %F
